
body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 0;
}

main{
    margin: 0;
}

footer{
    padding-top: 20px;
    background-color: #3C2313;
    color: white;
}

footer ul{
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

footer li{
    margin-bottom: 50px;
}

footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0;
}

footer span{
    color: #8A8787;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}

footer>img{
    float: right;
    margin-top: 130px;
    margin-right: 74px;
}

.footer-icon{
    float: left;
    margin-left: 70px;
    margin-right: 25px;
}

.banner{
    background-image: url("../img/bowl.png");
    background-color: #cccccc;
    margin-top: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    display: flex;    

    padding: 10%;
}

.banner-content{
    display: inline;
    margin-left: 70%;
    color: #3C2313;
    text-align: center;
}

.banner h1{
    background-color: white;
    padding: 5px;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    white-space: nowrap;
}


.banner button{
    background-color: #F0A83E;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;  
}

.contact{
    text-align: center;
    font-size: 25px;
    color: #3C2313;
    margin-bottom: 75px;
}

.contact ul{
    
    list-style: none;
}

.contact input{
    background-color: #3C2313;
    border: none;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    margin-bottom: 10px;
    padding-left: 14px;
    color: white;
}

.contact input::placeholder{
    color: white;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
}


.featured{
    text-align: center;
}

.featured>p{
    color: #666666;

}

.product{
    background: #FBFAF6;
    display: inline-block;
    text-align: center;
}

.product h4{
    margin: 0;
}

.product p{
    color: #F0A83E;
    margin-top: 0;
    margin-bottom: 5;
}

.paw-icon {
    background: url('../img/pawprint.svg');
    height: 20px;
    width: 20px;
    display: inline-flex;
    background-size: cover;
}
.email-icon{
    background: url('../img/SendEmail.svg');
    height: 27px;
    width: 35px;
    display: inline-flex;
    background-size: cover;
}

.nav{
    background-color: #F0A83E;
    color: #ffffff;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    float: right;
    
}

.nav li{
    float: left;
    padding-right: 52px;
}

.send-button{
    background-color:#F0A83E;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 110px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.reset-button{
    background-color: #8A8787;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 110px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.send-email{
    display: inline;
    float: right;
    margin-right: 47px;
}

.subscribe{
    background-color: #F0A83E;
    color: white;
    padding: 20px;
}

.subscribe input{
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 271px;
}

.subscribe h2{
    display: inline;
}

.subscribe button{
    background-color: #3C2313;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.top{
    background-color: #222222;
    color: #f3f3f3;
}


.top p{
    display: inline;
    padding-left: 90px;
}

.top ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    
}

.top li{
    float: right;
    padding-right: 52px;
}

.bottom{
    background-color: #222222;
    color: #f3f3f3;
    text-align: center;
    margin-bottom: 0;
    margin-top: 25px;
}

